body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #f0f0f0;
  position: relative;
  top: 60px;
}

#image-container {
  position: relative;
  max-height: 70vh;
  width: 50vw;
  overflow-y: auto;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  background-color: white;
}

.image-row input[type="file"] {
  margin-right: 10px;
}

.image-row select {
  margin-right: 20px;
}

.image-row a {
  color: red;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}

.image-row img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.add {
  position: fixed;
  top: 10%;
  left: 25%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
}

#add-btn {
  position: absolute;
  top: 15px;
  left: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#delete-container {
  position: fixed;
  top: 0;
  right: 25%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
}